/* styles/marquee.css */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  

  

  .noise-bg {
    background-image: url('/public/noise.png');
    background-size: 100px 100px;
    background-repeat: repeat;
    opacity: 0.04;
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  

  @keyframes waveFloat {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  .animate-wave {
    animation: waveFloat 8s ease-in-out infinite;
  }
  